<h3>Annet</h3>
<h5>Tilleggsinformasjon</h5>
<div class="row">
	<div class="col-lg-9">
    <form name="otherForm" novalidate>        
         <div class="row">           
           <div class="col-lg-4">
                Vil du ha med hund?
            </div>
            <div class="col-lg-4">
                <button type="button" 
                    class="btn btn-default" 
                    ng-class="{'btn-success':$root.UserData.BringsDog == true}" 
                    ng-click="$root.UserData.BringsDog = true">
                    Ja
                </button>
            </div>           
            <div class="col-lg-4">
                <button type="button" 
                    class="btn btn-default" 
                    ng-class="{'btn-success':$root.UserData.BringsDog == false}" 
                    ng-click="$root.UserData.BringsDog = false">
                    Nei
                </button>
            </div>            
        </div>     
        <div class="row">           
            <div class="col-lg-12">
                <textarea cols="20" rows="3" ng-model="$root.UserData.Comments" placeholder="Er det noe annet du vil informere om?"></textarea>
            </div>                
        </div>       
        <navigations back="'intolerences'" forward="'arrival'"></navigations>       
    </form>
	</div>
</div>

	 