<div class="overflow-auto margin-bottom-1rem">
    <button ng-hide="hideBack" ng-disabled="disabledBack" type="button" ng-click="$root.navigate(back)" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Forrige</button>
    <button ng-hide="hideForward" ng-disabled="disabledForward" type="button" ng-click="$root.navigate(forward)" class="btn btn-primary pull-right">Neste&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button>
</div>

<button type="button" ng-click="$root.navigate('overview')" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Tilbake til oversikt</button>